@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #714CFC;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #5555FF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FCFFFE;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #0400FF;
	margin: 0px;
	float: 0px;
	width: 100%;
	text-align: left;
}
.footer {
	background: ##0047FF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
